﻿<div class="canticle" data-canticle="Venite">
    <h3>Venite - O Come</h3>
    <p><small><i>Psalm 95:1-7; 8-11</i></small>
    <p>
        O come, let us sing to the Lord;<br>
        Let us make a joyful noise to the rock of our salvation!<br>
        Let us come into his presence with thanksgiving;<br>
        Let us make a joyful noise to him with songs of praise!<br>
        For the Lord is a great God, and a great King above all gods.<br>
        In his hand are the depths of the earth;<br>
        &emsp;the heights of the mountains are his also.<br>
        The sea is his, for he made it,<br>
        &emsp;and his hands formed the dry land.<br>
        O come, let us worship and bow down;<br>
        &emsp;Let us kneel before the Lord, our Maker!<br>
        For he is our God, and we are the people of his pasture,<br>
        &emsp;and the sheep of his hand.<br>
    </p>

    <div data-season="Lent,Advent,Holy Week">
        <p class="instructions">
            In Lent, and on other penitential occasions, the following verses are added.
        </p>

        <p>
            O, that today you would hearken to his voice!
            Do not harden your hearts, as at Meribah,<br>
            &emsp;as on the day at Massah in the wilderness,<br>
            &emsp;when your fathers put me to the test<br>
            &emsp;and put me to the proof, though they had seen my work.<br>
            For forty years I loathed that generation<br>
            &emsp;and said, “They are a people who go astray in their heart,<br>
            &emsp;and they have not known my ways.”<br>
            Therefore I swore in my wrath,<br>
            &emsp;“They shall not enter my rest.”
        </p>
    </div>
    <p>
        Glory to the Father, and to the Son, and to the Holy Spirit;<br>
        &emsp;as it was in the beginning, is now, and ever shall be,<br>
        &emsp;world without end. Amen.
    </p>
</div>

<div class="canticle" data-canticle="Jubilate">
    <h3>Jubilate - Be Joyful</h3>
    <p><small><i>Psalm 100</i></small>
    <p>
        Be joyful in the Lord, all you lands;<br>
        &emsp;serve the Lord with gladness<br>
        &emsp;and come before his presence with a song.<br>
        Know this: the Lord himself is God;<br>
        &emsp;he himself has made us, and we are his;<br>
        &emsp;we are his people and the sheep of his pasture.<br>
        Enter his gates with thanksgiving;<br>
        &emsp;go into his courts with praise;<br>
        &emsp;give thanks to him and call upon his Name.<br>
        For the Lord is good;<br>
        &emsp;his mercy is everlasting;<br>
        &emsp;and his faithfulness endures from age to age.
    </p>

    <p>
        Glory to the Father, and to the Son, and to the Holy Spirit;<br>
        &emsp;as it was in the beginning, is now, and ever shall be,<br>
        &emsp;world without end. Amen.
    </p>
</div>
<div class="canticle" data-canticle="Pascha Nostrum">
    <!--<p class="instructions">
        During the first week of Easter, the Pascha Nostrum will be used in place of the
        Invitatory Psalm. It is appropriate to use this canticle throughout Eastertide.
    </p>-->

    <h3>Pascha Nostrum - Christ our Passover</h3>
    <p><small><i>1 Corinthians 5:7-8; Romans 6:9-11; 1 Corinthians 15:20-22</i></small></p>
    <p>
        Alleluia. Christ our Passover has been sacrificed for us;<br>
        &emsp;therefore let us keep the feast,<br>
        not with the old leaven, the leaven of malice and evil,<br>
        &emsp;but with the unleavened bread of sincerity and truth. Halleluiah.<br>
        Christ being raised from the dead will never die again;<br>
        &emsp;death no longer has dominion over him.<br>
        The death that he died, he died to sin, once for all;<br>
        &emsp;but the life he lives, he lives to God.<br>
        So also consider yourselves dead to sin,<br>
        &emsp;and alive to God in Jesus Christ our Lord. Alleluia.<br>
        Christ has been raised from the dead,<br>
        &emsp;the first fruits of those who have fallen asleep.<br>
        For since by a man came death,<br>
        &emsp;by a man has come also the resurrection of the dead.<br>
        For as in Adam all die,<br>
        &emsp;so also in Christ shall all be made alive. Alleluia.
    </p>
    <p>
        Glory to the Father, and to the Son, and to the Holy Spirit;<br>
        &emsp;as it was in the beginning, is now, and ever shall be,<br>
        &emsp;world without end. Amen.
    </p>
</div>

<div class="canticle" data-canticle="Magnificat">
    <h3>Magnificat - The Song of Mary</h3>
    <p><small><i>Luke 1:46-55</i></small></p>
    <p>
        My soul magnifies the Lord,<br>
        and my spirit rejoices in God my Savior.<br>
        For he has regarded<br>
        the lowliness of his handmaiden.<br>
        For behold, from now on,<br>
        all generations will call me blessed.<br>
        For he that is mighty has magnified me,<br>
        and holy is his Name.<br>
        And his mercy is on those who fear him,<br>
        throughout all generations.<br>
        He has shown the strength of his arm;<br>
        he has scattered the proud in the imagination of their hearts.<br>
        He has brought down the mighty from their thrones,<br>
        and has exalted the humble and meek.<br>
        He has filled the hungry with good things,<br>
        and the rich he has sent empty away.<br>
        He, remembering his mercy, has helped his servant Israel,<br>
        as he promised to our fathers, Abraham and his seed forever.<br>
        Glory to the Father, and to the Son, and to the Holy Spirit;<br>
        as it was in the beginning, is now, and ever shall be,<br>
        world without end. Amen.
    </p>
</div>

<div class="canticle" data-canticle="Nunc Dimittis">
    <h3>Nunc Dimittis - The Song of Simeon</h3>
    <p><small><i>Luke 2:29-32</i></small></p>
    <p>
        Lord, now let your servant depart in peace,<br>
        according to your word.<br>
        For my eyes have seen your salvation,<br>
        which you have prepared before the face of all people;<br>
        to be a light to lighten the Gentiles,<br>
        and to be the glory of your people Israel.<br>
        Glory to the Father, and to the Son, and to the Holy Spirit;<br>
        as it was in the beginning, is now, and ever shall be, world<br>
        without end. Amen.
    </p>
</div>

<div class="canticle" data-canticle="Te Deum">
    <h3>Te Deum Laudamus - We Praise You, O God</h3>
    <p>
        We praise you, O God, <br>
        &emsp;we acclaim you as Lord; <br>
        &emsp;all creation worships you, <br>
        &emsp;the Father everlasting. <br>
        To you all angels, all the powers of heaven, <br>
        The cherubim and seraphim, sing in endless praise: <br>
        &emsp;Holy, Holy, Holy, Lord God of power and might, <br>
        &emsp;heaven and earth are full of your glory. <br>
        The glorious company of apostles praise you. <br>
        The noble fellowship of prophets praise you. <br>
        The white-robed army of martyrs praise you. <br>
        Throughout the world the holy Church acclaims you: <br>
        &emsp;Father, of majesty unbounded, <br>
        &emsp;your true and only Son, worthy of all praise, <br>
        &emsp;the Holy Spirit, advocate and guide. <br>
        You, Christ, are the king of glory, <br>
        &emsp;the eternal Son of the Father. <br>
        When you took our flesh to set us free <br>
        &emsp;you humbly chose the Virgin's womb. <br>
        You overcame the sting of death <br>
        &emsp;and opened the kingdom of heaven to all believers. <br>
        You are seated at God's right hand in glory. <br>
        &emsp;We believe that you will come to be our judge.<br>
        Come then, Lord, and help your people, <br>
        &emsp;bought with the price of your own blood, <br>
        &emsp;and bring us with your saints  <br>
        &emsp;to glory everlasting.<br>
        Save your people, Lord, and bless your inheritance; <br>
        &emsp;govern and uphold them now and always.<br>
        Day by day we bless you; <br>
        &emsp;we praise your name forever.<br>
        Keep us today, Lord, from all sin; <br>
        &emsp;have mercy on us, Lord, have mercy.<br>
        Lord, show us your love and mercy,<br>
        &emsp;for we have put our trust in you.<br>
        In you, Lord, is our hope,<br>
        &emsp;let us never be put to shame.<br>
    </p>
    <p>
        Glory to the Father, and to the Son, and to the Holy Spirit;<br>
        &emsp;as it was in the beginning, is now, and ever shall be,<br>
        &emsp;world without end. Amen.
    </p>
</div>

<div class="canticle" data-canticle="Benedictus Dominus">
    <h3>Benedictus - The Song of Zechariah</h3>

    <p><small><i>Luke 1:68-79</i></small></p>
    <p>
        Blessed be the Lord, the God of Israel;<br>
        &emsp;he has come to his people and set them free.<br>
        He has raised up for us a mighty savior,<br>
        &emsp;born of the house of his servant David.<br>
        Through his holy prophets he promised of old,<br>
        that he would save us from our enemies,<br>
        &emsp;from the hands of all who hate us.<br>
        He promised to show mercy to our fathers<br>
        &emsp;and to remember his holy covenant.<br>
        This was the oath he swore to our father Abraham,<br>
        &emsp;to set us free from the hands of our enemies,<br>
        Free to worship him without fear,<br>
        &emsp;holy and righteous in his sight<br>
        &emsp;all the days of our life.<br>
        You, my child, shall be called the prophet of the Most High,<br>
        &emsp;for you will go before the Lord to prepare his way,<br>
        To give his people knowledge of salvation<br>
        &emsp;by the forgiveness of their sins.<br>
        In the tender compassion of our God<br>
        &emsp;the dawn from on high shall break upon us,<br>
        To shine on those who dwell in darkness and the shadow of death,<br>
        &emsp;and to guide our feet into the way of peace.<br>
        Glory to the Father, and to the Son, and to the Holy Spirit;<br>
        &emsp;as it was in the beginning, is now, and ever shall be, <br>
        &emsp;world without end. Amen.
    </p>
</div>

<div class="canticle" data-canticle="Benedictus es Domine">
    <h3>Benedictus es, Domine - A Song of Praise</h3>
    <p><small><i>Song of the Three Young Men, 29-34</i></small></p>
    <p>
        Glory to you, Lord God of our fathers;<br>
        &emsp;you are worthy of praise; glory to you.<br>
        Glory to you for the radiance of your holy Name;<br>
        &emsp;we will praise you and highly exalt you for ever.<br>
        Glory to you in the splendor of your temple;<br>
        &emsp;on the throne of your majesty, glory to you.<br>
        Glory to you, seated between the Cherubim;<br>
        &emsp;we will praise you and highly exalt you for ever.<br>
        Glory to you, beholding the depths;<br>
        &emsp;in the high vault of heaven, glory to you.<br>
        Glory to the Father, and to the Son, and to the Holy Spirit;<br>
        &emsp;we will praise you and highly exalt you for ever.
    </p>
</div>

<div class="canticle" data-canticle="Phos Hilaron">
    <h3>Phos Hilaron - O Gladsome Light</h3>
    <p>
        O gladsome light,<br>
        pure brightness of the ever-living Father in heaven,<br>
        O Jesus Christ, holy and blessed!<br>
        Now as we come to the setting of the sun, <br>
        and our eyes behold the vesper light,<br>
        we sing praises to God: the Father, the Son, and the Holy Spirit.<br>
        You are worthy at all times to be praised by happy voices,<br>
        O Son of God, O Giver of Life, <br>
        and to be glorified through all the worlds.
    </p>
</div>

<div class="canticle" data-canticle="Ecce Deus">
    <h3>Ecce, Deus - Surely, it is God who saves me</h3>
    <p><i><small>Isaiah 12:2-6</small></i></p>
    <p>
        Surely it is God who saves me;<br>
        &emsp;I will trust in him and not be afraid.<br>
        For the Lord is my stronghold and my sure defense,<br>
        &emsp;and he will be my Savior.<br>
        Therefore you shall draw water with rejoicing<br>
        &emsp;from the springs of salvation.<br>
        And on that day you shall say,<br>
        &emsp;Give thanks to the Lord and call upon his Name;<br>
        Make his deeds known among the peoples;<br>
        &emsp;see that they remember that his Name is exalted.<br>
        Sing the praises of the Lord, for he has done great things,<br>
        &emsp;and this is known in all the world.<br>
        Cry aloud, inhabitants of Zion, ring out your joy,<br>
        &emsp;for the great one in the midst of you is the Holy One of Israel.<br>
        Glory to the Father, and to the Son, and to the Holy Spirit;<br>
        &emsp;as it was in the beginning, is now, and ever shall be,<br>
        &emsp;world without end. Amen.
    </p>
</div>

<div class="cantile" data-cantile="Kyrie Pantokrator">
    <h3>Kyrie Pantokrator - A Song of Penitence</h3>
    <p><i><small>Prayer of Manasseh, 1-2, 4, 6-7, 11-15</small></i></p>
    O Lord and Ruler of the hosts of heaven,<br>
    &emsp;God of Abraham, Isaac, and Jacob,<br>
    &emsp;and of all their righteous offspring:<br>
    You made the heavens and the earth,<br>
    &emsp;with all their vast array.<br>
    All things quake with fear at your presence;<br>
    &emsp;they tremble because of your power.<br>
    But your merciful promise is beyond all measure;<br>
    &emsp;it surpasses all that our minds can fathom.<br>
    O Lord, you are full of compassion,<br>
    &emsp;long-suffering, and abounding in mercy.<br>
    You hold back your hand;<br>
    &emsp;you do not punish as we deserve.<br>
    In your great goodness, Lord,<br>
    &emsp;you have promised forgiveness to sinners,<br>
    &emsp;that they may repent of their sin and be saved.<br>
    And now, O Lord, I bend the knee of my heart,<br>
    &emsp;and make my appeal, sure of your gracious goodness.<br>
    I have sinned, O Lord, I have sinned,<br>
    &emsp;and I know my wickedness only too well.<br>
    Therefore I make this prayer to you:<br>
    &emsp;Forgive me, Lord, forgive me.<br>
    Do not let me perish in my sin,<br>
    &emsp;nor condemn me to the depths of the earth.<br>
    For you, O Lord, are the God of those who repent,<br>
    &emsp;and in me you will show forth your goodness.<br>
    Unworthy as I am, you will save me,<br>
    &emsp;in accordance with your great mercy,<br>
    &emsp;and I will praise you without ceasing all the days of my life.<br>
    For all the powers of heaven sing your praises,<br>
    &emsp;and yours is the glory to ages of ages. Amen.
</div>

<div class="canticle" data-canticle="Cantemus Domino">
    <h3>Cantemus Domino The Song of Moses</h3>
    <p><small><i>Exodus 15:1-6, 11-13, 17-18</i></small></p>
    <p>
        I will sing to the Lord, for he is lofty and uplifted;<br>
        &emsp;the horse and its rider has he hurled into the sea.<br>
        The Lord is my strength and my refuge;<br>
        &emsp;the Lord has become my Savior.<br>
        This is my God and I will praise him,<br>
        &emsp;the God of my people and I will exalt him.<br>
        The Lord is a mighty warrior;<br>
        &emsp;Yahweh is his Name.<br>
        The chariots of Pharaoh and his army has he hurled into the sea;<br>
        &emsp;the finest of those who bear armor have been drowned in the Red Sea.<br>
        The fathomless deep has overwhelmed them;<br>
        &emsp;they sank into the depths like a stone.<br>
        Your right hand, O Lord, is glorious in might;<br>
        &emsp;your right hand, O Lord, has overthrown the enemy.<br>
        Who can be compared with you, O Lord, among the gods?<br>
        &emsp;who is like you, glorious in holiness,<br>
        &emsp;awesome in renown, and worker of wonders?<br>
        Your stretched forth your right hand;<br>
        &emsp;the earth swallowed them up.<br>
        With your constant love you led the people you redeemed;<br>
        &emsp;you brought them in safety to your holy dwelling.<br>
        You will bring them in and plant them<br>
        &emsp;on the mount of your possession,<br>
        The resting-place you have made for yourself, O Lord,<br>
        &emsp;the sanctuary, O Lord, that your hand has established.<br>
        The Lord shall reign for ever and for ever.<br>
        Glory to the Father, and to the Son, and to the Holy Spirit;<br>
        &emsp;as it was in the beginning, is now, and ever shall be, world without end. Amen.
    </p>
</div>

<div class="canticle" data-canticle="Surge illuminare">
    <h3>Surge, illuminare Arise, shine, for your light has come</h3>
    <p><i><small>Isaiah 60:1-3, 11a, 14c, 18-19</small></i></p>
    <p>
        Arise, shine, for you light has come,<br>
        &emsp;and the glory of the Lord has dawned upon you.<br>
        For behold, darkness covers the land;<br>
        &emsp;deep gloom enshrouds the peoples.<br>
        But over you the Lord will rise,<br>
        &emsp;and his glory will appear upon you.<br>
        Nations will stream to your light,<br>
        &emsp;and kings to the brightness of your dawning.<br>
        Your gates will always be open;<br>
        &emsp;by day or night they will never be shut.<br>
        They will call you, The City of the Lord,<br>
        &emsp;the Zion of the Holy One of Israel.<br>
        Violence will no more be heard in your land,<br>
        &emsp;ruin or destruction within your borders.<br>
        You will call your walls, Salvation,<br>
        &emsp;and all your portals, Praise.<br>
        The sun will no more be your light by day;<br>
        &emsp;by night you will not need the brightness of the moon.
    </p>
</div>

<div class="canticle" data-canticle="Magna et mirabilia">
    <h3>Magna et mirabilia - The Song of the Redeemed</h3>
    <p><small><i>Revelation 15:3-4</i></small></p>
    <p>
        O ruler of the universe, Lord God,<br>
        &emsp;great deeds are they that you have done,<br>
        &emsp;surpassing human understanding.<br>
        Your ways are ways of righteousness and truth,<br>
        &emsp;O King of all the ages.<br>
        Who can fail to do you homage, Lord,<br>
        &emsp;and sing the praises of your Name?<br>
        &emsp;for you only are the Holy One.<br>
        All nations will draw near and fall down before you,<br>
        &emsp;because your just and holy works have been revealed.<br>
        Glory to the Father, and to the Son, and to the Holy Spirit;<br>
        &emsp;as it was in the beginning, is now, and ever shall be, world without end. Amen.
    </p>
</div>

<div class="canticle" data-canticle="Benedicite">
    <h3>Benedicite, omnia opera Domini - A Song of Creation</h3>
    <p><small><i>Song of the Three Young Men, 35-65</i></small></p>
    <h4>Invocation</h4>
    Glorify the Lord, all you works of the Lord,<br>
    &emsp;praise him and highly exalt him for ever.<br>
    In the firmament of his power, glorify the Lord,<br>
    &emsp;praise him and highly exalt him for ever.
    <h4>I. The Cosmic Order</h4>
    Glorify the Lord, you angels and all powers of the Lord,<br>
    &emsp;O heavens and all waters above the heavens.<br>
    Sun and moon and stars of the sky, glorify the Lord,<br>
    &emsp;praise him and highly exalt him for ever.<br>
    Glorify the Lord, every shower of rain and fall of dew,<br>
    &emsp;all winds and fire and heat,<br>
    Winter and summer, glorify the Lord,<br>
    &emsp;praise him and highly exalt him for ever.<br>
    Glorify the Lord, O chill and cold,<br>
    &emsp;drops of dew and flakes of snow.<br>
    Frost and cold, ice and sleet, glorify the Lord,<br>
    &emsp;praise him and highly exalt him for ever.<br>
    Glorify the Lord, of nights and days,<br>
    &emsp;O shining light and enfolding dark.<br>
    Storm clouds and thunderbolts, glorify the Lord,<br>
    &emsp;praise him and highly exalt him for ever.
    <h4>II. The Earth and its Creatures</h4>
    Let the earth glorify the Lord,<br>
    &emsp;praise him and highly exalt him forever.<br>
    Glorify the Lord, O mountains and hills,<br>
    &emsp;and all that grows upon the earth,<br>
    &emsp;praise him and highly exalt him forever.<br>
    Glorify the Lord, O springs of water, seas, and streams,<br>
    &emsp;O whales and all that move in the waters.<br>
    All birds of the air, glorify the Lord,<br>
    &emsp;praise him and highly exalt him forever.<br>
    Glorify the Lord, O beasts of the wild,<br>
    &emsp;and all you flocks and herds.<br>
    O men and women everywhere, glorify the Lord,<br>
    &emsp;praise him and highly exalt him forever.
    <h4>III. The People of God</h4>
    Let the people of God glorify the Lord,<br>
    &emsp;praise him and highly exalt him forever.<br>
    Glorify the Lord, O priests and servants of the Lord,<br>
    &emsp;praise him and highly exalt him forever.<br>
    Glorify the Lord, O spirits and souls of the righteous,<br>
    &emsp;praise him and highly exalt him forever.<br>
    You that are holy and humble of heart, glorify the Lord,<br>
    &emsp;praise him and highly exalt him forever.
    <h4>Doxology</h4>
    Let us glorify the Lord: the Father, the Son and the Holy Spirit;<br>
    &emsp;praise him and highly exalt him forever.<br>
    In the firmament of his power, glorify the Lord,<br>
    &emsp;praise him and highly exalt him forever.
</div>

<div class="canticle" data-canticle="Dignus es">
    <h3>Dignus es - A Song to the Lamb</h3>
    <p><small><i>Revelation 4:11; 5:9-10, 13</i></small></p>
    <p>
        Splendor and honor and kingly power<br>
        &emsp;are yours by right, O Lord our God,<br>
        For you created everything that is,<br>
        &emsp;and by your will they were created and have their being;<br>
        And yours by right, O Lamb that was slain,<br>
        &emsp;for with your blood you have redeemed for God,<br>
        From every family, language, people and nation,<br>
        &emsp;a kingdom of priests to serve our God.<br>
        And so, to him who sits upon the throne,<br>
        &emsp;and to Christ the Lamb,<br>
        Be worship and praise, dominion and splendor,<br>
        &emsp;for ever and for evermore.
    </p>
</div>

<div class="canticle" data-canticle="Gloria in excelsis">
    <h3>Gloria in Excelsis</h3>
    <p>
        Glory to God in the highest,<br>
        &emsp;and peace to his people on earth.<br>
        Lord God, heavenly King,<br>
        almighty God and Father,<br>
        &emsp;we worship you, we give you thanks,<br>
        &emsp;we praise you for your glory.<br>
        Lord Jesus Christ, only Son of the Father,<br>
        Lord God, Lamb of God,<br>
        you take away the sin of the world:<br>
        &emsp;have mercy on us;<br>
        you are seated at the right hand of the Father:<br>
        &emsp;receive our prayer.<br>
        For you alone are the Holy One,<br>
        you alone are the Lord,<br>
        you alone are the Most High,<br>
        &emsp;Jesus Christ,<br>
        &emsp;with the Holy Spirit,<br>
        &emsp;in the glory of God the Father. Amen.
    </p>
</div>