﻿#configurator {
    top: 0px;
    left: 0px;
    background: #444;
    /*margin-top: -8px;*/
    /*margin-left: -8px;*/
    height: 60px;
    /*height: 5em;*/
    line-height: 60px;
    width: 100%;
    z-index: 1;
    padding: 5px;
    color: #fff;
    position: fixed;
    margin-bottom: 260px;
}

#mainbody {
    z-index: 0;
    position: relative;
    top: 80px;
}

#configuratorIcon {
    margin-top: 8px;
    width: 42px;
    height: 42px;
    float: left; /*align="right"*/
    margin-right: 8px;
}

.navlink {
    padding: 2px;
    height: 40px;
    color: #000;
    background-color: #fff;
    border-color: #fff;
    -moz-border-radius: 9px;
    border-radius: 9px;
}

a.navlink {
    padding: 13px;
    height: 40px;
}

body {
    font-size: 12pt;
    font-family: "Calibri", Arial, Helvetica, sans-serif;
}

.instructions {
    font-size: 10pt;
    color: #c00;
    font-style: italic;
}

@media screen and (max-width: 600px) {
    #configurator {
        width: 95%;
        margin-top: -20px;
        margin-left: -18px;
        z-index: 0;
        padding: 15px;
        text-align: center;
        white-space: nowrap;
        height: 45px;
        position: initial;
        margin-bottom: auto;
    }
    #cfgFeast {
        visibility: hidden;
        display: none;
    }
    .navlink {
        margin-top: 0px;
        padding: 12px;
        -moz-border-radius: 9px;
        border-radius: 9px;
        display: inline;
        float: none;
    }
    a.navlink {
        padding: 13px;
        /*padding-top: 15px;
        padding-bottom: 11px;*/
    }
    #configuratorIcon {
        margin-top: 10px;
        width: 42px;
        height: 42px;
        float: left; /*align="right"*/
        margin-right: 8px;
    }
    #mainbody {
        z-index: 0;
        position: relative;
        top: 0px;
    }
}

