.esv h2 {
	text-align: left;
    font-size: 1.17em;
	}
.esv h3 {
	text-align: left;
	}
.esv span.verse-num {
	font-size: 80%;
	font-weight: bold;
	padding-right: .15em;
	padding-left: .25em;
	vertical-align: text-top;
	}
.esv span.woc {
	 color: #900;
	}
.esv span.chapter-num {
	font-weight: bold;
	padding-right: .5em;
	}
.esv div.esv-text p {
	text-indent: 2em;
	}
.esv div.esv-text p.same-paragraph {
	text-indent: 0;
	}
.esv div.block-indent p {
	text-indent: 0;
	padding-left: 2.5em;
	margin-left: 0;
	}
.esv span.indent {
	padding-left: 2em;
	}
.esv span.indent-2, span.psalm-doxology-line {
	padding-left: 4em;
	}
.esv span.declares-line {
	padding-left: 6em;
	}
.esv span.small-caps {
	font-variant: small-caps;
	}
.esv span.selah {
	font-style: italic;
	margin-left: 1em;
	}
.esv p.extra-space {
	margin-top: 2em;
	}
.esv div.block-indent span.verse-num, div.block-indent span.woc  {
	padding-left: 0;
	}
.esv h4 {
	font-weight: normal;
	}
.esv h4.speaker {
	padding-left: 10em;
	font-variant: small-caps;
	margin-bottom: -1em;
	}
.esv h4.textual-note {
	font-variant: small-caps;	
	}
.esv h4.psalm-acrostic-title {
	font-variant: small-caps;
	}
.esv h4.psalm-title {

	}
.esv span.footnote {
	font-size: 80%;
	padding-right: .5em;
	padding-left: 0em;
	vertical-align: text-top;
	}
.esv div.footnotes h3 {
	margin-top: 0;
	margin-bottom: 0;
	}
.esv div.footnotes p {
	text-indent: 0;
	}
.esv span.footnote-ref {
	font-weight: bold;
	}
.esv p.copyright {
	text-indent: 0;
	}
.esv object.audio {
	margin: 0 0 0 10px;
	padding: 0;
	}
